#filter {
	position: sticky;
	top: var(--space-XL);

	box-shadow: var(--antd-box-shadow);

	z-index: 1;
}

.staff-card-unmounted {
    opacity: 0;
    transform: translateY(var(--space-XL));
    transition: opacity var(--transition), transform var(--transition);
}

.staff-card-mounted {
    opacity: 1;
    transform: translateY(0);
    transition: opacity var(--transition), transform var(--transition);
}