#signIn {
	height: 100vh;
	max-width: calc((var(--space-M) * 10) * 5.2);
	padding: var(--space-3XL) calc(var(--space-3XL) * 2);

	background-color: var(--neutral-1);

	display: flex;
	gap: var(--space-3XL);
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#signIn > main {
	width: 100%;
	height: 100%;

	display: flex;
	gap: var(--space-3XL);
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#signIn > main > #greetings,
#signIn > main > #form {
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#signIn > main > #greetings {
	text-align: center;
}
#signIn > main > #form {
	gap: var(--space-XL);
}
#signIn > main > #form > #footer {
	width: 100%;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}